<main class="container">
    <h1>{{ title }}</h1>

    <p>
        <button type="button" (click)="newWorkflow()" class="btn btn-primary btn-success btn-lg">
            New workflow
        </button>
    </p>

    <form (ngSubmit)="getUserWorkflowsBackend()" (keyup.enter)="getUserWorkflowsBackend()">
        <input type="text" placeholder="Search workflows ..." [(ngModel)]="searchTerm" required name="search" class="input-sm"/>
        <button type="submit" class="btn"> Search </button>
    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Workflow title</th>
            <th>Public URL</th>
            <th style="width:15%;">Streaming</th>
            <th style="width:30%;">Action</th>
        </tr>

        </thead>
        <tbody>
        <ng-template ngFor let-workflow [ngForOf]="workflows">
            <tr>
                <td class="name">{{workflow.name}}</td>
                <td>
                    <a *ngIf="workflow.is_public" [routerLink]="['/workflow/', workflow.id]">{{base_url}}/workflow/{{workflow.id}}</a>
                    <ng-template [ngIf]="!workflow.is_public">This workflow is private</ng-template>
                </td>
                <td>
                    <ng-template [ngIf]="workflow.can_be_streaming">
                        <ng-template [ngIf]="workflow.stream != null">
                            <ng-template [ngIf]="workflow.stream.active">
                                <span class="label label-success">
                                    <span class="fa fa-check"></span> Active
                                </span>
                                <a [routerLink]="['/streams/', workflow.stream.id]" class="btn btn-default btn-xs"><span
                                        class="fa fa-wrench"></span></a>
                            </ng-template>
                            <ng-template [ngIf]="!workflow.stream.active">
                                <span class="label label-warning">
                                    <span class="fa fa-times"></span> Inactive
                                </span>
                                <a [routerLink]="['/streams/', workflow.stream.id]" class="btn btn-default btn-xs"><span
                                        class="fa fa-wrench"></span></a>
                            </ng-template>
                        </ng-template>
                        <ng-template [ngIf]="workflow.stream == null">
                            <a (click)="startStreaming(workflow.id)" class="btn btn-info btn-xs">Start stream mining</a>
                        </ng-template>
                    </ng-template>
                    <ng-template [ngIf]="!workflow.can_be_streaming">
                        <span class="label label-default">
                            <span class="fa fa-times"></span> No streaming widgets
                        </span>
                    </ng-template>
                </td>
                <td><a [routerLink]="['/editor/', workflow.id]">Edit</a> |
                    <a [routerLink]="" (click)="copyWorkflow(workflow)">Open as new</a> |
                    <a [routerLink]="" (click)="deleteWorkflow(workflow)">Delete</a> |
                    <a [routerLink]="" (click)="toggleWorkflowVisibility(workflow)" *ngIf="!workflow.is_public">Make public</a>
                    <a [routerLink]="" (click)="toggleWorkflowVisibility(workflow)" *ngIf="workflow.is_public">Make private</a> |
                    <a [routerLink]="['/export-workflow/', workflow.id]">Export to JSON</a>
                </td>
            </tr>
        </ng-template>
        </tbody>
    </table>

    <div *ngIf="workflows.length == 0" class="name text-center">
        No workflows were found.
    </div>
	<span class="table-information">Showing {{bounds.lower}} to {{bounds.upper}} of {{n_all}} entries.</span>
	<div class="table-pagination">
		<div>
			<span>Pages:</span>
			<ng-template ngFor let-p [ngForOf]="pages">
				<button class="table-pagination-button btn btn-default" [class.btn-success] = "p==k" *ngIf="p==1 || p==n || p==k || p==k-1 || p==k+1; else pagesDots" (click)="changePage(p)">
					{{p}}
				</button>
				<ng-template #pagesDots>
					<span class="table-pagination-dots" *ngIf="p==k-2 || p==k+2">...</span>
				</ng-template>
			</ng-template>
		</div>
	</div>
    <a [routerLink]="['/import-workflow/']">Import a workflow from another installation of ClowdFlows</a>
    <div class="push"></div>
</main>
<footer-comp></footer-comp>
