<footer>
    <div class="container">
        <div class="row sponsors">

            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <a class="img" href="http://www.ijs.si/">
                    <img alt="JSI Logo" src="/public/images/JSILogoSmall.gif">
                </a>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <a class="img" href="http://www.muse-project.eu/">
                    <img alt="MUSE Logo" src="/public/images/muse-logo.png"
                         style="vertical-align: middle; height:50px;">
                </a>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <a class="img" href="http://conceptcreationtechnology.eu/">
                    <img alt="ConCreTe Logo" src="/public/images/concrete-logo-2.png"
                         style="vertical-align: middle; height:50px;">
                </a>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3 text-center">
                <a class="img" href="http://cordis.europa.eu/info-management/">
                    <img alt="EU Logo" src="/public/images/EULogoSmall.gif" style="vertical-align: middle;">
                </a>
            </div>

        </div>

    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    &copy; 2010-2019 <a href="http://kt.ijs.si">Department of Knowledge Techonologies</a>. <br>Co-funded
                    by
                    <a href="http://cordis.europa.eu/info-management/">the European Union</a>.
                </div>
                <div class="col-md-6 col-lg-6 text-right">
                    <a href="https://github.com/orgs/xflows/people">ClowdFlows authors</a>.
                </div>
            </div>
        </div>
    </div>
</footer>