.widget-dialog {
  position: absolute;
  min-width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.widget-dialog .panel-heading {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
.widget-dialog .panel-footer .form-group {
  margin-bottom: 0px;
}
.widget-dialog.widget-results .panel-body,
.widget-dialog.widget-visualization-dialog .panel-body,
.widget-dialog.widget-interaction-dialog .panel-body {
  overflow: auto;
  max-height: 600px;
}
.input-designation .drag-between-arrows {
  position: absolute;
  left: -8px;
  top: 48px;
}
.input-designation .panel-body .panel-heading {
  padding: 2px 10px;
}
.input-designation .panel-body .panel-body {
  padding: 10px;
}
.input-designation .panel-body .list-group-item {
  padding: 2px 10px;
}
.input-designation .panel-body .list-group-item i {
  color: #ef8c08;
}
