<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cf-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ClowdFlows</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li outerLinkActive="active"><a [routerLink]="['']">Home</a></li>
                <li outerLinkActive="active"><a [routerLink]="['/editor/:id']">Workflow editor</a></li>
                <li outerLinkActive="active"><a [routerLink]="['/your-workflows']">Your workflows</a></li>
                <li outerLinkActive="active"><a [routerLink]="['/explore-workflows']">Explore workflows</a></li>
                <li outerLinkActive="active">
                    <a [routerLink]="['/login']" *ngIf="!userService.isLoggedIn()">Log in</a>
                    <a href="" (click)="userService.logout(''); $event.preventDefault()" *ngIf="userService.isLoggedIn()">Log out</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>
