<div id="toolbar">
    <div id="toolbar-buttons" class="btn-group">
        <button class="btn btn-default">
            <i class="fa fa-file-o" title="New workflow"></i>
        </button>
        <button class="btn btn-default">
            <i class="fa fa-folder-open-o" title="Open a workflow"></i>
        </button>
        <button class="btn btn-default">
            <i class="fa fa-floppy-o" title="Save workflow"></i>
        </button>
        <button class="btn btn-default" (click)="runWorkflow()">
            <i class="fa fa-play" title="Run"></i>
        </button>
    </div>

    <div id="status">
            <div id="status-msg">
                <i class="fa fa-info" title="Info"></i>
                <strong>Hello!</strong> Welcome to ClowdFlows. Start by clicking on widgets in the treeview on the left side!
            </div>
    </div>
</div>
