<div class="widget-dialog panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{widget.name}}</h3>
    </div>
    <div class="panel-body">
        <form (onSubmit)="apply()">
            <div class="form-group form-group-sm" *ngFor="let p of widget.parameters">
                <div class="checkbox" *ngIf="p.parameter_type == 'checkbox'">
                    <label>
                        <input type="checkbox" [checked]="p.deserialized_value == 'true'"/> {{p.name}}
                    </label>
                </div>
                <label [attr.for]="'input-' + p.name" *ngIf="p.parameter_type != 'checkbox'"
                       class="control-label">{{p.name}}</label>

                <input [attr.id]="'input-' + p.name" *ngIf="p.parameter_type == 'text'" type="text"
                       [value]="p.deserialized_value"
                       [title]="p.description"
                       class="form-control"/>
                <input [attr.id]="'input-' + p.name" *ngIf="p.parameter_type == 'password'" type="password"
                       [value]="p.deserialized_value"
                       [title]="p.description"
                       class="form-control"/>
                <select [attr.id]="'input-' + p.name" *ngIf="p.parameter_type == 'select'" [title]="p.description"
                        class="form-control">
                    <option *ngFor="let o of p.options" [value]="o.value"
                            [selected]="o.value == p.deserialized_value"></option>
                </select>
                <textarea [attr.id]="'input-' + p.name" *ngIf="p.parameter_type == 'textarea'"
                          [title]="p.description"
                          class="form-control">
                    {{p.deserialized_value}}
                </textarea>
                <input [attr.id]="'input-' + p.name" *ngIf="p.parameter_type == 'file'" [title]="p.description"
                       type="file" class="form-control"/>
                <p class="help-block">{{p.description}}</p>
            </div>
            <p *ngIf="widget.parameters.length == 0">This widget has no parameters</p>
        </form>
    </div>
    <div class="panel-footer">
        <div class="form-group form-group-sm">
            <button (click)="closeDialog()" class="btn btn-default">Close</button>
            <button type="apply()" class="btn btn-primary">Apply</button>
        </div>
    </div>
</div>
