<div id="widget-canvas">
    <svg id="widget-canvas-svg" xmlns="http://www.w3.org/2000/svg">
        <g class="widget" *ngFor="let widget of workflow.widgets"
           draggable
           (positionChangeRequest)="move($event, widget)"
           (endMoveRequest)="saveWidget(widget)"
           [attr.width]="ui_constants.widgetWidth"
           [attr.transform]="'translate('+ widget.x + ',' + widget.y + ')'">
            <g *ngFor="let input of widget.inputs; let i = index">
                <rect class="input" [attr.x]="input.x" [attr.y]="input.y"
                      [attr.width]="ui_constants.signalWidth"
                      [attr.height]="ui_constants.signalHeight" />
            </g>
            <g *ngFor="let output of widget.outputs; let i = index">
                <rect class="output" [attr.x]="output.x" [attr.y]="output.y"
                      [attr.width]="ui_constants.signalWidth"
                      [attr.height]="ui_constants.signalHeight"/>
            </g>
            <rect class="widget-box" [attr.x]="ui_constants.signalWidth" rx="2" ry="2"
                  [attr.width]="ui_constants.widgetBoxWidth"
                  [attr.height]="widget.boxHeight" />
            <text [attr.x]="ui_constants.widgetWidth/2" [attr.y]="widget.labelY" text-anchor="middle">
                <tspan>{{widget.name}}</tspan>
            </text>
            <text class="widget-error-icon" text-anchor="middle" [attr.x]="ui_constants.widgetWidth/2" [attr.y]="widget.labelY + 22" *ngIf="widget.error"></text>
            <text class="widget-finished-icon" text-anchor="middle" [attr.x]="ui_constants.widgetWidth/2" [attr.y]="widget.labelY + 22" *ngIf="widget.finished">&#10004;</text>
        </g>
        <g class="connection" *ngFor="let connection of workflow.connections">
            <path [attr.stroke-width]="ui_constants.connectionWidth" stroke-linejoin="round" fill="none"
                  [attr.d]="connection.bezierPoints">
            </path>
        </g>
    </svg>
</div>
