<main class="container">
    <div class="row">
        <div class="col-lg-6">

            <h1>Password reset</h1>



            <form action="" method="post" (ngSubmit)="sendPasswordResetEmail()"
                  (keyup.enter)="sendPasswordResetEmail()" #form="ngForm">

                <div class="form-group" *ngIf="sendPasswordResetEmailStatus!='ok'"
                     [class.has-error]="sendPasswordResetEmailStatus=='error' && (email.dirty || email.touched)">
                    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new
                        one.</p>

                    <label class="control-label" for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required
                           email #email="ngModel" [(ngModel)]="sendPasswordResetEmailData.email">
                </div>

                <div class="form-group" *ngIf="sendPasswordResetEmailStatus!='ok'">
                    <button type="submit" class="btn btn-primary">Reset my password</button>
                </div>

                <div class="form-group">
                    <div class="alert alert-success" *ngIf="sendPasswordResetEmailStatus=='ok'">
                        We've sent you an email. Click on the link in the email to reset your password.
                    </div>

                    <div class="alert alert-danger" *ngIf="sendPasswordResetEmailStatus=='error'">
                        No user with such email in the database.
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="push"></div>
</main>
<footer-comp></footer-comp>