<main class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Create an account</h1>
            <p>
                Don't have an account yet? Create one! It takes like two seconds.
            </p>
            <form id="registration-form" (ngSubmit)="attemptRegistration()" (keyup.enter)="attemptRegistration()"
                  #registrationForm="ngForm">
                <div class="form-group" [class.has-error]="username.invalid && (username.dirty || username.touched)">
                    <label class="control-label" for="register-username">Username</label>
                    <input type="text" class="form-control" id="register-username" name="username"
                           placeholder="Username" required minlength="3"
                           [(ngModel)]="registrationData.username" #username="ngModel">
                </div>
                <div class="form-group" [class.has-error]="email.invalid && (email.dirty || email.touched)">
                    <label class="control-label" for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required
                           email #email="ngModel" [(ngModel)]="registrationData.email">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required
                           [(ngModel)]="registrationData.password" #password="ngModel">
                </div>
                <div class="form-group"
                     [class.has-error]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                    <label class="control-label" for="confirmPassword">Repeat password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Password" required validateEqual="password" #confirmPassword="ngModel"
                           [(ngModel)]="registrationData.confirmPassword">
                    <span class="help-block"
                          *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                        The passwords don't match
                    </span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            [class.disabled]="!registrationForm.form.valid">Sign up
                    </button>
                </div>
            </form>
            <alert type="danger" *ngIf="registrationError" dismissible="true">{{ registrationError }}</alert>
        </div>
        <div class="col-lg-6">
            <h1>Log in</h1>
            <p>
                Already a member? Well then, go ahead and log in, partner!
            </p>
            <form id="login-form" (ngSubmit)="attemptLogin()" (keyup.enter)="attemptLogin()" #loginForm="ngForm">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="form-control" required name="username"
                           placeholder="Username" [(ngModel)]="loginCredentials.username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" required name="password"
                           placeholder="Password" [(ngModel)]="loginCredentials.password">
                    <a [routerLink]="['/forgot-password']" >Forgot your password?</a>

                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember-me" [(ngModel)]="loginCredentials.rememberMe">
                        Remember me
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"
                            [class.disabled]="!loginForm.form.valid">Log in
                    </button>
                </div>
            </form>
            <alert type="danger" *ngIf="loginError" dismissible="true">{{ loginError }}</alert>
        </div>
    </div>
    <div class="push"></div>
</main>
<footer-comp></footer-comp>