<main class="container">
    <div class="row">
        <div class="col-lg-6">

            <h1>Set new password</h1>


            <form action="" method="post" (ngSubmit)="confirmPasswordReset()"
                  (keyup.enter)="confirmPasswordReset()" *ngIf="confirmPasswordResetStatus!=204">
                <p>Enter your new password in the box bellow.</p>

                <div class="form-group" [class.has-error]="confirmPasswordResetErrorText!=''">
                    <input id="password" type="password" class="form-control" name="password" placeholder="New password" required
                           [(ngModel)]="passwordData" #newPassword="ngModel">

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Reset my password</button>
                </div>


            </form>
            <div class="form-group">
                <div class="alert alert-success" *ngIf="confirmPasswordResetStatus==204">
                    Your password has been set. You may go ahead and log in now.
                </div>

                <div class="alert alert-danger" *ngIf="confirmPasswordResetErrorText!=''">
                    {{ confirmPasswordResetErrorText }}
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</main>
<footer-comp></footer-comp>
