#toolbar {
  height: 46px;
  border-bottom: 1px solid #231f20;
  background-color: #ffe45c;
}
#toolbar #toolbar-buttons,
#toolbar #status {
  float: left;
}
#toolbar #toolbar-buttons {
  padding: 6px 15px 6px 15px;
}
#toolbar #status {
  padding: 9px 15px 9px 15px;
}
#toolbar #status #status-msg {
  float: left;
}
