#widget-canvas {
  position: absolute;
  top: 97px;
  left: 300px;
  right: 0px;
  bottom: 100px;
  overflow: auto;
}
#widget-canvas > svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
#widget-canvas #tabs {
  position: absolute;
  top: 0px;
  left: 0px;
  list-style: none;
  padding-left: 0px;
  border-bottom: 1px solid #231f20;
}
#widget-canvas #tabs .tab {
  float: left;
  min-width: 200px;
  background-color: #f6a828;
  color: white;
  border-right: 1px solid #231f20;
}
#widget-canvas .widget {
  min-height: 80px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
#widget-canvas .widget .widget-box {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #b3b3b3;
  stroke-width: 1.08579063;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  cursor: pointer;
}
#widget-canvas .widget .widget-box.selected {
  fill: #ffe45c;
}
#widget-canvas .widget .input,
#widget-canvas .widget .output {
  fill: #d7eef4;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.70787406;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
}
#widget-canvas .widget .input.selected,
#widget-canvas .widget .output.selected {
  fill: #87ccde;
}
#widget-canvas .widget .widget-error-icon {
  fill: #ff572b;
}
#widget-canvas .widget .widget-finished-icon {
  fill: #448019;
}
#widget-canvas .connection path {
  stroke: #a3a3a3;
}
#widget-canvas .connection.selected path {
  stroke: #ffe45c;
}
