ul {
  list-style: none;
  padding-left: 10px;
}
ul > li {
  padding-left: 5px;
}
.widget,
.category {
  cursor: pointer;
  line-height: 20px;
  font-size: 15px;
}
.widget {
  display: block;
  overflow-style: marquee-block;
}
.widget-name {
  max-width: 180px;
  display: inline-block;
  vertical-align: middle;
}
.widget-tree-icon {
  height: 16px;
  width: auto;
}
.recommendation .fa {
  color: white;
}
