<ul>
    <li *ngFor="let category of categories">
        <span class="category" (click)="toggleCollapsed(category)" [class.hidden]="category.hidden">
            <i class="fa"
               [class.fa-folder-o]="category.collapsed"
               [class.fa-folder-open-o]="!category.collapsed"></i> {{category.name}}
        </span>
        <div [class.hidden]="category.collapsed">
            <tree-view [categories]="category.children" (addWidgetRequest)="addWidgetToCanvas($event)"></tree-view>
            <ul>
                <li *ngFor="let widget of category.widgets">
                    <ng-template #widgetDescriptionPopover>
                        Package: <strong>{{ widget.cfpackage }}</strong><br>
                        {{ (widget.description.length>200)? (widget.description | slice:0:200)+'...':(widget.description) }}
                    </ng-template>
                    <span class="widget"
                          [class.hidden]="widget.hidden"
                          [class.recommendation]="widget.recommended_input || widget.recommended_output"
                          (click)="addWidgetToCanvas(widget)"
                          [attr.title]="widget.name"
                          [popover]="widgetDescriptionPopover"
                          placement="left"
                          container="body"
                          triggers="mouseenter:mouseleave">
                    <img class="widget-tree-icon" src="{{ iconUrl(widget) }}"/>
                    <span class="widget-name">{{widget.name}}</span>
                    <span class="label label-success" [class.hidden]="!widget.recommended_output">
                        Output
                    </span>
                    <span class="label label-success" [class.hidden]="!widget.recommended_input">
                        Input
                    </span>
                </span>
                </li>
            </ul>
        </div>
    </li>
</ul>
