ul {
  list-style: none;
  padding-left: 20px;
}
ul > li {
  padding-left: 5px;
  word-break: break-all;
}
.widget,
.category {
  cursor: pointer;
  line-height: 16px;
}
.widget-tree-icon {
  height: 16px;
  width: auto;
}
