<ul>
    <li *ngFor="let category of categories">
        <span class="category" (click)="toggleCollapsed(category)" [class.hidden]="category.hidden">
            <i class="fa"
               [class.fa-folder-o]="category.collapsed"
               [class.fa-folder-open-o]="!category.collapsed"></i> {{category.name}}
        </span>
        <div [class.hidden]="category.collapsed">
            <tree-view [categories]="category.children" (addWidgetRequest)="addWidgetToCanvas($event)"></tree-view>
            <ul>
                <li *ngFor="let widget of category.widgets">
                <span class="widget"
                      [class.hidden]="widget.hidden"
                      [class.recommendation]="widget.recommended_input || widget.recommended_output"
                      (click)="addWidgetToCanvas(widget)"
                      [attr.title]="widget.name">
                    <i class="fa" [class.fa-long-arrow-right]="widget.recommended_output"></i>
                    <img class="widget-tree-icon" src="{{ iconUrl(widget) }}"/> <span class="widget-name">{{widget.name}}</span>
                    <i class="fa" [class.fa-long-arrow-right]="widget.recommended_input"></i>
                </span>
                </li>
            </ul>
        </div>
    </li>
</ul>
