@import "../../../common";

#widgets {
  width: @widget-tree-width;
  position: absolute;
  top: 97px;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  border-right: 1px solid #231f20;
  overflow: auto;
  overflow-x: hidden;

  #widget-tree {
    margin-left: -20px;
  }

  #legend {
    .recommendation {
      border: 2px dashed #7ec14e;
      padding: 2px;

      .fa {
        color: #7ec14e;
      }
    }
  }
}

.import-webservice-dialog {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
  min-width: 500px;

  .dialog-shadow();

  .panel-footer {
    .form-group {
      margin-bottom: 0px;
    }
  }
}

