<div id="widgets">
    <form class="form-horizontal">
        <div class="form-group">
            <input type="text" name="filter-query" class="form-control input-sm" placeholder="Widget search"
                   [(ngModel)]="filterString" (ngModelChange)="filterTree()">
            <span *ngIf="filterString"
                  (click)="clearText()"
                  class="glyphicon glyphicon-remove form-control-feedback"
                  style="cursor: pointer; pointer-events: all; padding-top: 10px"
                  uib-tooltip="clear">
        </span>
        </div>
    </form>

    <div *ngIf="widgetLibraryService.loading" class="text-center">
        <div style="vertical-align: middle;">
            <br>
            <br>
            <br><br><br>
            <i class="text-center fa fa-spinner fa-2x fa-spin"></i>
        </div>
    </div>

    <div id="widget-tree">
        <tree-view [categories]="widgetLibraryService.widgetTree"
                   (addWidgetRequest)="addWidgetToCanvas($event)"></tree-view>
    </div>
    <!--<a class="import-webservice-btn btn btn-info btn-sm" (click)="openImportWebserviceDialog()">Import webservice</a>-->
</div>

<div class="import-webservice-dialog panel panel-primary" *ngIf="showImportWebserviceDialog">
    <div class="panel-heading">
        <h3 class="panel-title">Import webservice</h3>
    </div>
    <div class="panel-body">
        <form #importWebserviceForm="ngForm"
              (onSubmit)="importWebservice(wsdl.value)"
              (keyup.enter)="importWebservice(wsdl.value)">
            <div class="form-group form-group-sm">
                <input #wsdl type="text"
                       required
                       title="WSDL address"
                       placeholder="WSDL address"
                       name="wsdl-address"
                       class="form-control"/>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="form-group form-group-sm">
            <button (click)="closeImportWebserviceDialog()" class="btn btn-default">Close</button>
            <button (click)="importWebservice(wsdl.value)" class="btn btn-primary"
                    [class.disabled]="!importWebserviceForm.form.valid">Import
            </button>
        </div>
    </div>
</div>
