#widgets {
  width: 300px;
  position: absolute;
  top: 97px;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  border-right: 1px solid #231f20;
  overflow: auto;
  overflow-x: hidden;
}
#widgets #widget-tree {
  margin-left: -20px;
}
