#widget-canvas {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
#widget-canvas > svg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
#widget-canvas #tabs {
  position: absolute;
  top: 0px;
  left: 0px;
  list-style: none;
  padding-left: 0px;
  border-bottom: 1px solid #231f20;
}
#widget-canvas #tabs .tab {
  float: left;
  min-width: 200px;
  background-color: #f6a828;
  color: white;
  border-right: 1px solid #231f20;
}
#widget-canvas .widget {
  min-height: 80px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
#widget-canvas .widget .widget-box {
  fill: #ffffff;
  fill-opacity: 1;
  stroke: #b3b3b3;
  stroke-width: 1.08579063;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  cursor: pointer;
  -webkit-transition: fill 100ms ease-in-out;
  -moz-transition: fill 100ms ease-in-out;
  -o-transition: fill 100ms ease-in-out;
  transition: fill 100ms ease-in-out;
}
#widget-canvas .widget .widget-box:hover {
  fill: #fff5c2;
}
#widget-canvas .widget .widget-box.selected {
  fill: #ffe45c;
  stroke: #333333;
}
#widget-canvas .widget .widget-save-results-icon {
  opacity: 0.5;
  width: 13px;
  height: 17px;
}
#widget-canvas .widget image {
  pointer-events: none;
}
#widget-canvas .widget .input,
#widget-canvas .widget .output {
  fill: #d7eef4;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1.70787406;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  cursor: pointer;
  -webkit-transition: fill 100ms ease-in-out;
  -moz-transition: fill 100ms ease-in-out;
  -o-transition: fill 100ms ease-in-out;
  transition: fill 100ms ease-in-out;
}
#widget-canvas .widget .input:hover,
#widget-canvas .widget .output:hover {
  fill: #afdde9;
}
#widget-canvas .widget .input:hover + text.signal-text,
#widget-canvas .widget .output:hover + text.signal-text,
#widget-canvas .widget .input:hover + text.signal-text,
#widget-canvas .widget .output:hover + text.signal-text {
  fill: white;
}
#widget-canvas .widget .input.selected,
#widget-canvas .widget .output.selected {
  fill: #87ccde;
}
#widget-canvas .widget .input.selected + text.signal-text,
#widget-canvas .widget .output.selected + text.signal-text,
#widget-canvas .widget .input.selected + text.signal-text,
#widget-canvas .widget .output.selected + text.signal-text {
  fill: white;
}
#widget-canvas .widget text.signal-text {
  font-family: monospace;
  pointer-events: none;
  fill: #a3a3a3;
  -webkit-transition: fill 100ms ease-in-out;
  -moz-transition: fill 100ms ease-in-out;
  -o-transition: fill 100ms ease-in-out;
  transition: fill 100ms ease-in-out;
}
#widget-canvas .widget .widget-error-icon {
  fill: #ff572b;
}
#widget-canvas .widget .widget-finished-icon {
  fill: #448019;
}
#widget-canvas .widget .widget-running-icon {
  fill: #222;
  transform-origin: 50% 50%;
  -moz-animation: spinnerRotate 1.5s linear infinite;
  -ms-animation: spinnerRotate 1.5s linear infinite;
  -webkit-animation: spinnerRotate 1.5s linear infinite;
  animation: spinnerRotate 1.5s linear infinite;
}
#widget-canvas .connection path {
  stroke: #a3a3a3;
  cursor: pointer;
  -webkit-transition: stroke 100ms ease-in-out;
  -moz-transition: stroke 100ms ease-in-out;
  -o-transition: stroke 100ms ease-in-out;
  transition: stroke 100ms ease-in-out;
}
#widget-canvas .connection path:hover {
  stroke: #ffe45c;
}
#widget-canvas .connection.selected path {
  stroke: #ffe45c;
}
@keyframes spinnerRotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes spinnerRotate {
  from {
    -webkit-transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
  }
}
@-moz-keyframes spinnerRotate {
  from {
    -moz-transform: rotateZ(0deg);
  }
  to {
    -moz-transform: rotateZ(360deg);
  }
}
@-ms-keyframes spinnerRotate {
  from {
    -ms-transform: rotateZ(0deg);
  }
  to {
    -ms-transform: rotateZ(360deg);
  }
}
