<div #widgetCanvas id="widget-canvas" (body:keyup)="handleShortcuts($event)" (mousedown)="startMouseSelect($event)" (mousemove)="widenMouseSelect($event)" (mouseup)="endMouseSelect($event)" (scroll)="widenMouseSelectScroll($event)">
    <svg #svgElement id="widget-canvas-svg" xmlns="http://www.w3.org/2000/svg" [attr.width]="canvasWidth" [attr.height]="canvasHeight">
		<rect id="widget-canvas-svg-selection" *ngIf="mouseSelectRect.visible" [attr.x]="mouseSelectRect.position.x" [attr.y]="mouseSelectRect.position.y" [attr.width]="mouseSelectRect.width" [attr.height]="mouseSelectRect.height" />
		<g class="connection" *ngFor="let connection of workflow.connections" [class.selected]="connection.selected">
            <path [attr.stroke-width]="ui_constants.connectionWidth" stroke-linejoin="round" fill="none"
                  [attr.d]="connection.bezierPoints"
                  (click)="select($event, connection)"
									(contextmenu)="onContextMenu($event, connection, 'connection')">
            </path>
        </g>
        <g [id]="'widget-' + widget.id" class="widget noselect" *ngFor="let widget of workflow.widgets"
           draggable-widget
           (positionChangeRequest)="move($event, widget)"
           (endMoveRequest)="endMove(widget)"
           [attr.width]="ui_constants.widgetWidth"
           [attr.transform]="'translate('+ widget.x + ',' + widget.y + ')'">
            <g *ngFor="let input of widget.inputs; let i = index">
                <rect class="input" [attr.x]="input.x" [attr.y]="input.y"
                      [ngClass]="{'required': (input.required && input.connection == null && (input.multi_id == 0 || (input.multi_id > 0 && input.order == 1)))}"
                      [attr.width]="ui_constants.signalWidth"
                      [attr.height]="ui_constants.signalHeight"
                      [class.selected]="input.selected"
                      (click)="select($event, input)">
                      <title>{{input.description}}</title>
                </rect>
                <text class="signal-text"
                      [attr.x]="input.x + 20"
                      [attr.y]="input.y + ui_constants.signalHeight - 3"
                      [attr.height]="ui_constants.signalHeight"
                      [attr.width]="ui_constants.signalWidth"
                      text-anchor="middle">
                    <tspan>{{input.short_name}}</tspan>
                </text>
            </g>
            <g *ngFor="let output of widget.outputs; let i = index">
                <rect class="output" [attr.x]="output.x" [attr.y]="output.y"
                      [attr.width]="ui_constants.signalWidth"
                      [attr.height]="ui_constants.signalHeight"
                      [class.selected]="output.selected"
                      (click)="select($event, output)">
                      <title>{{output.description}}</title>
                </rect>
                <text class="signal-text"
                      [attr.x]="output.x + 20"
                      [attr.y]="output.y + ui_constants.signalHeight - 3"
                      [attr.height]="ui_constants.signalHeight"
                      [attr.width]="ui_constants.signalWidth"
                      text-anchor="middle">
                    <tspan>{{output.short_name}}</tspan>
                </text>
            </g>
            <rect class="widget-box" [attr.x]="ui_constants.signalWidth" rx="2" ry="2"
                  (click)="select($event, widget)"
                  (dblclick)="handleDoubleClick(widget)"
                  (mouseenter)="changeRightClickedWidget(widget)"
                  (contextmenu)="onContextMenu($event, widget,'widget')"
                  [attr.width]="ui_constants.widgetBoxWidth"
                  [attr.height]="widget.boxHeight"
                  [class.selected]="widget.selected"/>
            <image class="widget-icon"
                   [attr.width]="ui_constants.iconSide"
                   [attr.height]="ui_constants.iconSide"
                   y="7"
                   [attr.x]="ui_constants.signalWidth + (ui_constants.widgetBoxWidth - ui_constants.iconSide)/2"
                   [attr.xlink:href]="widget.icon"/>
                   //xlink:href="https://cdn.glitch.com/4c9ebeb9-8b9a-4adc-ad0a-238d9ae00bb5%2Fmdn_logo-only_color.svg"/>

            <image class="widget-save-results-icon"
                (dragstart) = "dragimagestart()"
                  (click) = "dragimagestop(widget)"
                   y="1"
                   *ngIf="!widget.save_results && widget.outputs.length + widget.inputs.length > 0 && !widget.must_save"
                   [attr.x]="ui_constants.signalWidth + ui_constants.widgetBoxWidth - 15"
                   xlink:href="/public/images/save_results.svg"/>
            <image class="widget-save-results-icon active"
            (dragstart) = "dragimagestart()"
                  (click) = "dragimagestop(widget)"
                    y="1"
                    *ngIf="widget.must_save || (widget.save_results && widget.outputs.length + widget.inputs.length > 0)"
                    [attr.x]="ui_constants.signalWidth + ui_constants.widgetBoxWidth - 15"
                    xlink:href="/public/images/save_results_active.svg"/>
            <image class="widget-can-interact-icon"
                   y="1"
                   *ngIf="widget.can_interact"
                   [attr.x]="ui_constants.signalWidth + 2"
                   xlink:href="/public/images/hand-o-pointer.svg"/>

<text [attr.x]="ui_constants.widgetWidth/2" [attr.y]="widget.labelY" text-anchor="middle"
                  (dblclick)="showRenameDialog(widget)">
                <tspan *ngFor="let chunk of splitNodeLabel(widget.name); let i=index;" [attr.x]="ui_constants.widgetWidth/2" text-anchor="middle" [attr.dy]="(i==0) ? '0em' : '1em'">{{chunk}}</tspan>
</text>


            <text class="widget-error-icon" text-anchor="middle"
                  [attr.transform]="'translate('+ ui_constants.widgetWidth/2 + ',' + (widget.labelY + 22) + ')'"
                  *ngIf="widget.error">
                &#10008;
            </text>
            <text class="widget-finished-icon" text-anchor="middle"
                  [attr.transform]="'translate('+ ui_constants.widgetWidth/2 + ',' + (widget.labelY + 22) + ')'"
                  *ngIf="widget.finished">
                &#10004;
            </text>
            <g [attr.transform]="'translate('+ (ui_constants.widgetWidth/2 - 10) + ',' + (widget.labelY + 5) + ')'"
               *ngIf="widget.running">
               <g>
                <image class="widget-running-icon" width="20" height="20" xlink:href="/public/images/cog.svg"/>
                <animateTransform _ngcontent-c4="" attributeName="transform" attributeType="XML" dur="3s" repeatCount="indefinite" type="rotate" from="0 10 10" to="360 10 10"></animateTransform>
              </g>
            </g>
        </g>
    </svg>
    <widget-dialog *ngFor="let widget of workflow.widgets"
                   [widget]="widget"
                   (continueRunWorkflowRequest)="continueRunWorkflow($event)"
                   (saveWidgetRequest)="saveWidget($event)"
                   (saveWidgetConfigurationRequest)="saveWidgetConfiguration($event)"
                   (resetWidgetRequest)="resetWidget($event)">
    </widget-dialog>
    <context-menu-widget
    [widget]="rightClickedWidget"
    (runWidgetRequest)="runWidget($event)"
    (runWidgetWithInteractionRequest)="runWidgetWithInteraction($event)"
    (changeSaveResultsRequest)="changeSaveResults($event)"
    (fetchOutputResultsRequest)="fetchOutputResults($event)"
    (resetWidgetRequest) = "resetWidget($event)"
    (resetWorkflowRequest) = "resetWorkflow($event)"
    (copyWidgetRequest) = "copyWidget($event)"
    (deleteWidgetRequest) = "deleteWidget($event)"
    ></context-menu-widget>
    <context-menu-connection
    (deleteConnectionRequest)="deleteConnection($event)"
    ></context-menu-connection>
</div>
