<div id="toolbar">
    <div id="toolbar-buttons" class="btn-group">
        <button id="new-workflow-btn" class="btn btn-default" (click)="showCreateWorkflowModal()">
            <i class="fa fa-file-o" title="New workflow"></i>
        </button>
        <button id="open-workflow-btn" class="btn btn-default" (click)="showOpenWorkflowModal()">
            <i class="fa fa-folder-open-o" title="Open a workflow"></i>
        </button>
        <button id="save-workflow-btn" class="btn btn-default" (click)="showSaveWorkflowModal()">
            <i class="fa fa-floppy-o" title="Save workflow"></i>
        </button>
        <button id="run-workflow-btn" class="btn btn-default" (click)="runWorkflow()">
            <i class="fa fa-play" title="Run"></i>
        </button>
    </div>

    <div id="status">
            <div id="status-msg">
                <i class="fa fa-info" title="Info"></i>
                <strong>Hello!</strong> Welcome to ClowdFlows. Start by clicking on widgets in the treeview on the left side!
            </div>
    </div>
</div>

<div id="create-workflow-modal" bsModal #createWorkflowModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="createWorkflowModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">New workflow</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to create a new workflow?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="createWorkflowModal.hide()">Close</button>
                <button id="create-workflow-confirm-btn" type="button" class="btn btn-primary" (click)="createWorkflow()">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="open-workflow-modal" bsModal #openWorkflowModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="openWorkflowModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Open workflow</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <ng-template ngFor let-workflow [ngForOf]="userWorkflows">
                        <li *ngIf="!workflow.is_subprocess">
                            <a [routerLink]="['/editor/', workflow.id]"
                               (click)="openWorkflowModal.hide()">
                                {{workflow.name}}
                            </a>
                        </li>
                    </ng-template>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="openWorkflowModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="#save-workflow-modal" bsModal #saveWorkflowModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="saveWorkflowModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Save workflow properties</h4>
            </div>
            <div class="modal-body">
                <form #workflowProperties="ngForm" (onSubmit)="saveWorkflow()">
                    <div class="form-group form-group-sm">
                        <label for="workflow-name" class="control-label">Name</label>
                        <input id="workflow-name" type="text" name="workflow-name"
                               [(ngModel)]="workflow.name"
                               title="Workflow name"
                               class="form-control"/>
                    </div>
                    <div class="form-group form-group-sm">
                        <label for="workflow-description" class="control-label">Description</label>
                        <textarea id="workflow-description"
                                  name="workflow-description"
                                  [title]="workflow.description"
                                  [(ngModel)]="workflow.description"
                                  class="form-control"
                                  placeholder="Describe what this workflow does"
                                  rows="8">{{workflow.description}}</textarea>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="checkbox">
                            <label>
                                <input id="workflow-is-public"
                                       type="checkbox"
                                       name="is-public"
                                       [(ngModel)]="workflow.is_public"/> Public workflow
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveWorkflowModal.hide()">Close</button>
                <button id="apply-workflow-changes-btn" type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveWorkflow()">Apply</button>
            </div>
        </div>
    </div>
</div>